<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag work.picture %>
    <div class="caption">
      <h3><%= work.title %></h3>
      <p><%= work.plot %></p>
      <p>
        <%= link_to "Read more", work, class: "btn btn-primary", genre: "button" %>
      </p>
    </div>
  </div>
</div>
